.profile__avatar-button {
  margin: 0;
  padding: 0;
  position: relative;
  background-color: transparent;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  top: 0px;
  right: 0px;
  cursor: pointer;
  }

.profile__avatar-button:hover::before {
    margin: 0;
    padding: 0;
    content: ""; 
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.8);
    background-image: url(../../../images/VectorAvatar.svg);
    background-position: center center;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: 26px 26px;
    position: absolute;
    top: 0;
    right: 0px;
    opacity: 4;
    transition: opacity 0.8s ease-in-out;
}


  