.profile__button-edit {
    background-image: url(../../../images/Edit-Button.svg);
    height: 24px;
    width: 24px;
    border: 2px solid #fff;
    background-color: rgba(228, 228, 228, 0);
    
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    position: relative;
}