.header__logo {
    height: 33px;
    width: 142px;
    
}
@media (max-width: 620px) {
    .header__logo {
            margin: 0 0 0 27px;
            width: 103px;
            height: 24px;
        }
}