.element__button-like {
    width: 22px;
    height: 19px;
    background-image: url(../../images/like-active.svg);
    
    border: 0;
    padding: 0;
    align-self: center;
    margin: 0 20px 0 0;
    cursor: pointer;
    transition: all .25s ease-in-out;
}
.element__button-like:hover {
    opacity: .5;
}