.element__button-like {
    width: 22px;
    height: 19px;
    background-image: url(../../images/like.svg);
    background-repeat: no-repeat;
    background-color: #ffffff;
    border: none;
    align-self: center;
    cursor: pointer;
}
.element__button-like:hover {
    opacity: .5;
}