.profile__button-add {
    background-image: url(../../../images/Add-Button.svg);
    height: 50px;
    width: 150px;
    border: 2px solid #fff;
    margin: auto 0;
    padding: 2px 0 0 0;
    background-color: rgba(228, 228, 228, 0);

    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    position: relative;
}
.profile__button-add:hover {
    opacity: .6;
}
@media (max-width: 930px) {
    .profile__button-add {
            width: 100px;
            height: 40px;
            background-size: 20px 20px;
        }
}
@media (max-width: 620px) {
    .profile__button-add {
            width: 282px;
            min-height: 50px;
            padding: 2px 0 0 2px;
            background-size: 16px 16px;
        }
}